spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres   # ← localhost, не db! (если запускаешь локально)
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  flyway:
    enabled: false
    baseline-on-migrate: true

crm:
  base-url: http://localhost:8081/api
  stub-enabled: true

server:
  port: 8082

logging:
  level:
    root: INFO
    by.vasiliev.subscriptionservice: DEBUG